*{
    margin: 0; 
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background :linear-gradient(rgb(134 0 0 / 54%),rgb(0 0 0 / 70%)),url(img/Vadar.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;

}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block ;
    margin-left: 60px;
    border-radius: 15px;
    padding: 9px;
    cursor: pointer;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1;
   
    
}
nav ul li:hover{
    background-color:#fff;
    color: black;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}
h1{
    color: #fff;
    font-size: 100px;
}

p{
    color: #fff;
    font-size: 20px;
    line-height: 15px;

}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;

}
button:hover{
    background-color: red;
}
button a {
    font-size: 15px;
}
.card{
    width: 183px;
    height: 260px;
    display: inline-block;
    border-radius: 10px;
    padding: 132px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(/img/revenge.jpg) ;
    background-position: center;
    opacity: 0.9;
    transition: transform 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1{
    background-image:url(/img/457816.png) ;
}
.card2{
    background-image:url(/img/R.jfif) ;
}
.card3{
    background-image:url(/img/27f6755c04ab0e1e933ef27d6a9cc462.jpg) ;
}
.card4{
    background-image:url(/img/ben\ solo.png) ;
}
.card5{
    background-image:url(/img/OIP\ \(1\).jfif) ;
}
.card:hover{
    transform:translatey(-15px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-size: medium;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 886px) {
    .card{
        width: 90px;
        height: 110px;
        display: inline-block;
        border-radius: 10px;
        padding: 65px 25px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 10px 15px;
        background-image:url(/img/revenge.jpg) ;
        background-position: center;
        opacity: 0.8;
        transition: transform 0.5s;
        background-repeat: no-repeat;
        background-size: cover;
    }  
    .card1{
        background-image:url(/img/457816.png) ;
    }
    .card2{
        background-image:url(/img/R.jfif) ;
    }
    .card3{
        background-image:url(/img/27f6755c04ab0e1e933ef27d6a9cc462.jpg) ;
    }
    .card4{
        background-image:url(/img/ben\ solo.png) ;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-size: 10px;
    }
   h5{
    font-size: 10px;
   }

}

